:root {
  --background: #1a1a1a;
  --baseFont: 'Roboto Condensed', sans-serif;
  --number: 700 8rem/9.375rem var(--baseFont);
  --name: 300 2.5rem/2.93rem var(--baseFont);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--baseFont);
  color: white;
  inline-size: 100%;
  block-size: 100vh;
  background-image: url('./assets/img/bg.png'),
    url('./assets/img/5091372229_ebca868ffd_o.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-inline-size: 42rem;
  margin: 0 auto;
  block-size: 80%;
}

.counter-container {
  block-size: 80%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.number {
  font: var(--number);
  background-color: var(--background);
  inline-size: 11.375rem;
  block-size: 13.375rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  font: var(--name);
  text-align: center;
}
